default:
    suites:
        api:
            paths:
                - %paths.base%/src/Features/api
            contexts:
                - Features\Context\ApiContext:
                    guzzle:
                        # change to API Base URL
                        base_url: http://api.mac.dev
                        exceptions: false
                        allow_redirects: true
        web:
            paths:
                - %paths.base%/src/Features/web
            contexts:
                - Features\Context\MinkContext:
    extensions:
        Behat\MinkExtension:
            sessions:
                foo_session:
                    goutte: ~
    testers:
        rerun_cache: .behat_rerun_cache